---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import Tok from '../../layouts/tok/Tok.astro';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<style>
	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	ul li {
		width: calc(50% - 1rem);
	}
	ul li * {
		text-decoration: none;
		transition: 0.2s ease;
	}
	ul li img {
		margin-bottom: 0.5rem;
		border-radius: 12px;
	}
	ul li a {
		display: block;
	}
	.title {
		margin: 0;
		color: rgb(var(--black));
		line-height: 1;
	}
	.date {
		margin: 0;
		color: rgb(var(--gray));
	}
	ul li a:hover h4,
	ul li a:hover .date {
		color: rgb(var(--accent));
	}
	ul a:hover img {
		box-shadow: var(--box-shadow);
	}

	nav ul li {
		width: inherit;
	}

	nav ul li a::before {
		content: '['
	}

	nav ul li a::after {
		content: ']'
	}

	@media (max-width: 720px) {
		ul {
			gap: 0.5em;
		}
		ul li {
			width: 100%;
			text-align: center;
		}
		ul li:first-child {
			margin-bottom: 0;
		}
		ul li:first-child .title {
			font-size: 1.563em;
		}
	}
</style>

<Tok title="Home">
	<p>Tales of Kathay is a turn-based role-playing game set in a rich, living world that's entirely procedural and deeply simulated.</p>

	<p>Uncover a world shaped by thousands of years of dynamic, simulated history—where kingdoms rise and fall, legends are born, and the consequences of your actions ripple across generations. Whether you’re delving into ancient dungeons, forging alliances, or altering the fate of empires, your choices truly matter.</p>

	<p>Engage in tactical, turn-based combat inspired by classic tabletop RPGs, where creativity and planning are rewarded. Create your own stories in a sandbox world that evolves whether you’re there to shape it or simply observe it unfold.</p>

	<p><b>Play the Demo on <a href="https://jouwee.itch.io/tales-of-kathay">Itch.io</a></b></p>
	<p><b>Play the Closed Alpha on <a href="https://www.patreon.com/cw/Jouwee">Patreon</a></b></p>

	<h2>Updates</h2>

	<section>
		<ul>
			{
				posts.map((post) => (
					<li>
						<a href={`/tales-of-kathay/${post.id}/`}>
							{post.data.heroImage && (
								<Image width={720} height={360} src={post.data.heroImage} alt="" />
							)}
							<h4 class="title">{post.data.title}</h4>
							<p class="date">
								<FormattedDate date={post.data.pubDate} />
							</p>
						</a>
					</li>
				))
			}
		</ul>
	</section>
</Tok>
