body {
  margin: 40px auto;
  max-width: 41em;
  padding: 0 10px;
}

* {
  font-family: sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(24, 26, 27);
    color: white;
  }

  a {
    color: rgb(78, 137, 254);
  }
}
