---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<h1>Hi, I'm Jouwee</h1>
			<p>I make games and other silly things.</p>
			<h2>My projects</h2>
			<ul>
			<li>
				<a href="tales-of-kathay">Tales of Kathay</a> - a turn-based RPG with an
				emergent storyline.
			</li>
			</ul>
			<h2>Projects I endorse</h2>
			<ul>
			<li>
				<a href="https://permacomputing.net/Principles/">Permacomputing</a> - design principles for sustainable computing.
			</li>
			</ul>
			<p>Check me out at <a rel="me" href="https://mastodon.social/@jouwee">Mastodon</a> and <a rel="me" href="https://github.com/Jouwee">GitHub</a>.

		</main>
	</body>
</html>
